.account_selection {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.account_selection input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radiobutton {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
}

.account_selection:hover input ~ .radiobutton {
    background-color: #ccc;
}

.account_selection input:checked ~ .radiobutton {
    background-color: #007bff;
}

.radiobutton:after {
    content: "";
    position: absolute;
    display: none;
}

.account_selection input:checked ~ .radiobutton:after {
    display: block;
}

.account_selection .radiobutton:after {
    top: 4px;
    left: 4px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #929292;
}