.card {
    margin: auto;
    margin-top: 10px;
    max-width: 700px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    word-wrap: break-word;
    background-color: rgba(255, 255, 255, 0.5);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;

}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #150ba5;
    background-clip: padding-box;
    border: 1px solid #527ca7;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: rgba(255, 255, 255, 0.5);
}

.form-group {
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
}

.text-center {
    text-align: center !important;
}

.btn-info {
    color: #fff;
    background-color: #333cb6;
    border-color: #333cb6;
}

.btn-info:hover {
    color: #fff;
    background-color: #25316b;
    border-color: #25316b;
}

.btn-info:focus, .btn-info.focus {
    box-shadow: 0 0 0 0.2rem rgba(23, 47, 184, 0.5);
}